body {
    background: url(../images/pattern.jpg) repeat 0 0;
}

.head {

}
header {
    height: 298px;
    background: url(../images/header-bg.jpg)  no-repeat 50% 0;
}

ul.navbar-nav {
    font-size: 14px;
}
.nav-bar-trans {
    background: #fbc02d;
}